<!-- <div class="jumbotron">
  <div class="container">
    <h3 class="display-4">LAS MEJORES MARCAS DE NEUMÁTICOS</h3>
    <hr class="my-4">
    <div class="card-group">
      <div class="container">
        <div class="card">
          <img class="card-img-top" src="../../assets/michelin.png" alt="Card image cap">
        </div>
        <div class="card">
          <img class="card-img-top" src="../../assets/federal.gif" alt="Card image cap">
          <img class="card-img-top" src="../../assets/silverstone.gif" alt="Card image cap">
        </div>
      </div>
    </div>
  </div>
</div> -->
<h3 class="display-4" style="text-align: center;">LAS MEJORES MARCAS DE NEUMÁTICOS</h3>
<!-- <hr class="my-4"> -->
<div class="jumbotron">
  <div class="container">

    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top" src="../../assets/firestone.png" alt="Card image cap" style="width: 80%;">
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top" src="../../assets/bridgestone.png" alt="Card image cap" style="width: 90%;">
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top" src="../../assets/michelin.png" alt="Card image cap" style="width: 45%;">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top" src="../../assets/federal.gif" alt="Card image cap">
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top" src="../../assets/deestone.jpg" alt="Card image cap">
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top" src="../../assets/silverstone.gif" alt="Card image cap">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>