.gallery-title {
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}

.gallery-title:after {
    content: "";
    position: absolute;
    width: 60%;
    left: 19.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}

h1.gallery-title {
    font-family: Comic Sans MS, Times, serif;
    color: black;
}