img.card-img-top {
    width: 50%;
    margin-top: 35%;
}

.card {
    text-align: center;
}

.row {
    background-color: #1b1e28;
    color: #ededed;
}

.circulo {
    border-radius: 50%;
    background: white;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -55px;
}