<div class="row">
  <footer class="footer footer-home">
    <div class="content">
      <div class="col-md-4">
        <div class="card">
          <div class="circulo">
            <img class="card-img-top " src="../assets/chatbubble.png" alt="Card image cap">
          </div>
          <div class="card-body">
            <h4 class="card-title">Contacta con nosotros</h4>
            <p class="foot-telephone">Telf:&nbsp;
              <a>
                <span> 617 34 48 09</span>
              </a>
            </p>

            <div class="mail-send">
              <span>neumaticosdiego@volluercas.net</span>
              <!-- <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="haz clic para copiar mail"> -->
              <!-- Mándanos un mail -->
              <!-- </span> -->
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="card">
          <div class="circulo">
            <img class="card-img-top" src="../assets/location.png" alt="Card image cap">
          </div>

          <div class="card-body">
            <h4 class="upper title">Dónde estamos</h4>
            <p class="foot-address">
              <span class="address-street">Carretera de guadalupe, s/n </span>
              <span class="address-postal-code"> 10136 </span>
              <span class="address-locality"> Cañamero </span>
            </p>
            <a class="link-theme" href="/es/contacto/">localizanos</a>
            <div class="social-data" data-website-social-data=""></div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="circulo">
            <img class="card-img-top" src="../assets/reloj.png" alt="Card image cap">
          </div>
          <div class="card-body">
            <h4 class="upper title">Horarios</h4>
            <div class="tab-desc">
              <div class="opening-hours">
                <p>De 9 a 14 y de 16 a 20 horas.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>