<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="gallery-title">Localizanos
          <span class="glyphicon glyphicon-globe"></span>
        </h1>
      </div>
    </div>
    <!-- mapa -->
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [zoomControl]="true" [mapTypeId]="tipoMapa" [fullscreenControl]="true"
      [mapDraggable]="false">
      <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"></agm-marker>
    </agm-map>
  </div>
  
<div class="row">
    <div class="container">
      <a id="return-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page"
        data-toggle="tooltip" data-placement="left">
        <span class="glyphicon glyphicon-chevron-up"></span>
      </a>
    </div>
  </div>
</div>