agm-map {
    height: 600px;
}

button agm-map {
    height: 100px;
}

label.btn.btn-secondary:hover {
    background-color: rgba(114, 110, 110, 0.54);
}

label.btn.btn-secondary.active {
    font-weight: bold;
}

.botonesMap {
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;
    z-index: 1;
    background-color: white;
}

.jumbotron {
    background-color: transparent;
}

.gallery-title {
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}

.gallery-title:after {
    content: "";
    position: absolute;
    width: 30%;
    left: 35.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}

button.mapa {
    left: 125px;
    top: 660px;
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: 1;
    background: transparent;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    bottom: 0;
}



#return-to-top {
    float: right;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
    background-color: #777777;
	color: #eeeeee;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 30px;
	bottom: 30px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}