<div class="row">
  <div class="jumbotron">
    <div class="container">
      <div class="col-sm-12">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <img class="card-img-top" src="../../assets/nosotros.JPG" alt="Card image cap">
            </div>
          </div>
        </div>

        <p class="text">
          Mas de veinte años de experiencia avalan el trabajo que desarrolla nuestra empresa. Una familia que se ha hecho de abajo
          a arriba.</p>

          <p class="text">
            Los primeros años fueron de aprendizaje en talleres de Barcelona y procurando la necesaria formación que se hace
          indispensable en un sector tan dinámico como éste.</p>

          <p class="text">
            En 1987, con el traslado a Cañamero se abrimos nuestro primer negocio propio. En la calle Chopera empezamos arreglando
          pinchazos y vendiendo cubiertas usadas. Poco a poco empezamos a ofecer a nuestros clientes neumáticos de primeras
          marcas y otros de importación a precios muy competitivos.</p>

      </div>
      <div class="col-sm-12">

          <p class="text">
          Diez años después, ante el volumen de trabajo que íbamos teniendo, inauguramos un nuevo local; moderno, cómodo para el trabajo
          y dotado de ampllios espacios para todos los servicios que con el tiempo vamos incorporando al Taller.
        </p>

        <div class="card">
          <div class="card-body">
            <img class="card-img-top" src="../../assets/nosotros2.JPG" alt="Card image cap" style=" float: right;">
          </div>
        </div>

        <p class="text">
          Hemos pasado del trabajo puramente artesanal a la mecanización mas completa. Desarrollamos el trabajo cada vez mejor y más
          rápido, ofreciendo un servicio integral para sus neumáticos.
        </p>

         <p class="text">
          Ofrecemos un trato personalizado, hacemos seguimiento de sus ruedas detectando y corrigiendo cualquier anomalía en sus cubiertas.
        </p>

         <p class="text">
          Atendemos principalmente la comarca de las Villuercas, Ibores y la Jara, aunque tenemos clientes de muchas partes de Extremadura
        </p>
      </div>
    </div>
  </div>
</div>