<!-- <img style="-webkit-user-select: none;" src="../../assets/preloader.GIF"> -->
<div class="container">
    <div class="row">
        <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="gallery-title">Gallery</h1>
        </div>
        <br/>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
            <div class="active item" data-slide-number="0">
                <a data-toggle="modal" data-target="#1" title="Equilibrado de Ruedas">
                    <img src="../../assets/equilibradoRuedas.JPG" class="img-responsive contenedor">
                </a>
            </div>
            <div class="modal fade" id="1" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <div class="modal-body">
                            <img class="modalImg" src="../../assets/equilibradoRuedas.JPG">
                        </div>
                        <div class="modal-footer">
                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
            <div class="active item" data-slide-number="1">
                <a data-toggle="modal" data-target="#2" title="Alineado de Direcciones">
                    <img src="../../assets/AlineadoDirecciones.JPG" class="img-responsive contenedor">
                </a>
                <div class="modal fade" id="2" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <div class="modal-body">
                                <img class="modalImg" src="../../assets/AlineadoDirecciones.JPG">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
            <a data-toggle="modal" data-target="#3" title="Montadora de Neumáticos">
                <img src="../../assets/MontadoraNeumáticos.JPG" class="img-responsive contenedor">
            </a>
            <div class="modal fade" id="3" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <div class="modal-body">
                            <img class="modalImg" src="../../assets/MontadoraNeumáticos.JPG">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
            <a data-toggle="modal" data-target="#4" title="CAMBIO DE NEUMÁTICOS">
                <img src="../../assets/CambioNeumaticos.JPG" class="img-responsive contenedor">
            </a>
            <div class="modal fade" id="4" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <div class="modal-body">
                            <img class="modalImg" src="../../assets/CambioNeumaticos.JPG">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
            <a data-toggle="modal" data-target="#5" title="Montadora Especiales">
                <img src="../../assets/MontadoraEspeciales.JPG" class="img-responsive contenedor">
            </a>
            <div class="modal fade" id="5" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <div class="modal-body">
                            <img class="modalImg" src="../../assets/MontadoraEspeciales.JPG">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
            <a data-toggle="modal" data-target="#6" title="Montadora Industriales">
                <img src="../../assets/MontadoraIndustriales.JPG" class="img-responsive contenedor">
            </a>
            <div class="modal fade" id="6" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <div class="modal-body">
                            <img class="modalImg" src="../../assets/MontadoraIndustriales.JPG">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
            <a data-toggle="modal" data-target="#7" title="CORGHI EM9580 LaserlLine Wheel Balancer (DE)">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Qm11n7HucJ0" allowfullscreen></iframe>
                </div>
            </a>
            <div class="modal fade" id="7" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <div class="modal-body">
                            <!-- <img class="modalImg" src="../../assets/MontadoraIndustriales.JPG"> -->
                            <iframe class="modalImg" src="https://www.youtube.com/embed/Qm11n7HucJ0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ************************************************************************************ -->
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
            <a data-toggle="modal" data-target="#8" title="Alineado de Direcciones">
                <img src="http://fakeimg.pl/365x365/" class="img-responsive contenedor">
            </a>
            <div class="modal fade" id="8" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <div class="modal-body">
                            <img class="modalImg" src="http://fakeimg.pl/365x365/">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
            <a data-toggle="modal" data-target="#9" title="Alineado de Direcciones">
                <img src="http://fakeimg.pl/365x365/" class="img-responsive contenedor">
            </a>
            <div class="modal fade" id="9" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <div class="modal-body">
                            <img class="modalImg" src="http://fakeimg.pl/365x365/">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>