<div class="container">
  <div class="row">
    <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1 class="gallery-title">Gallery</h1>
    </div>
    <br/>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
      <a data-toggle="tooltip" title="Equilibrado de Ruedas"> 
        <img src="../../assets/equilibradoRuedas.JPG" class="img-responsive contenedor">
      </a>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
      <a data-toggle="tooltip" title="Alineado de Direcciones">
        <img src="../../assets/AlineadoDirecciones.JPG" class="img-responsive contenedor">
      </a>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
      <a data-toggle="tooltip" title="Montadora de Neumáticos">
        <img src="../../assets/MontadoraNeumáticos.JPG" class="img-responsive contenedor">
      </a>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
      <a data-toggle="tooltip" title="CAMBIO DE NEUMÁTICOS">
        <img src="../../assets/CambioNeumaticos.JPG" class="img-responsive contenedor">
      </a>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
      <a data-toggle="tooltip" title="Montadora Especiales">
        <img src="../../assets/MontadoraEspeciales.JPG" class="img-responsive contenedor">
      </a>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
      <a data-toggle="tooltip" title="Montadora Industriales">
        <img src="../../assets/MontadoraIndustriales.JPG" class="img-responsive contenedor">
      </a>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
      <a data-toggle="tooltip" title="CORGHI EM9580 LaserlLine Wheel Balancer (DE)">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Qm11n7HucJ0" allowfullscreen></iframe>
        </div>
      </a>
    </div>

    <!-- ************************************************************************************ -->
    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
      <a data-toggle="tooltip" title="Alineado de Direcciones">
        <img src="http://fakeimg.pl/365x365/" class="img-responsive contenedor">
      </a>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
      <a data-toggle="tooltip" title="Alineado de Direcciones">
        <img src="http://fakeimg.pl/365x365/" class="img-responsive contenedor">
      </a>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
      <a data-toggle="tooltip" title="Alineado de Direcciones">
        <img src="http://fakeimg.pl/365x365/" class="img-responsive contenedor">
      </a>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
      <a data-toggle="tooltip" title="Alineado de Direcciones">
        <img src="http://fakeimg.pl/365x365/" class="img-responsive contenedor">
      </a>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
      <a data-toggle="tooltip" title="Alineado de Direcciones">
        <img src="http://fakeimg.pl/365x365/" class="img-responsive contenedor">
      </a>
    </div>
  </div>
</div>