<div class="container">
  <div class="row">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <a href="#">
            <img src="../../assets/logo.jpg" style="width: 100%">
          </a>
        </div>
      </div>
      <ul class="nav nav-pills nav-justified">
        <li class="dropdown active" data-slide-to="0" [ngClass]="{'active':activar ===0}" (click)="cambiar(0)">
          <a href="#">
            <span class="glyphicon glyphicon-home"></span> Home</a>
        </li>
        <li class="dropdown" data-slide-to="0" [ngClass]="{'active':activar ===1}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CONÓCENOS
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu " (click)="cambiar(1)">
            <li class="menu">
              <a routerLink="/nosotros">Quienes Somos</a>
            </li>
            <li class="menu" (click)="cambiar(1)">
              <a routerLink="/galeria">Galeria</a>
            </li>
          </ul>
        </li>
        <li class="dropdown" data-slide-to="0" [ngClass]="{'active':activar ===2 }" (click)="cambiar(2)">
          <a routerLink="/neumaticos">NEUMATICOS</a>
        </li>
        <li class="dropdown " data-slide-to="0" [ngClass]="{'active':activar ===3 }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SERVICIOS
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu ">
            <li>
              <a href="# ">Alternadores</a>
            </li>
            <li>
              <a href="# ">Aceites</a>
            </li>
            <li>
              <a href="# ">Filtros</a>
            </li>
            <li role="separator " class="divider "></li>
            <li (click)="cambiar(3)">
              <a routerLink="/itv">ITV</a>
            </li>
          </ul>
        </li>
        <li class="dropdown" data-slide-to="0" [ngClass]="{'active':activar ===4 }" (click)="cambiar(4)">
          <a href="#">OFERTAS</a>
        </li>
      </ul>
    </div>
    <!-- End Carousel -->
  </div>
</div>