.prueba {
    background-color: #080808;
}

body {
    padding-top: 20px;
}

#myCarousel .nav a small {
    display: block;
}

#myCarousel .nav {
    background: #eee;
}

.nav-justified>li>a {
    border-radius: 0px;
}

.nav-pills>li.dropdown[data-slide-to="0"].active a.dropdown-toggle {
    background-color: #270965;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    background-color: #270965;
}

ul.dropdown-menu {
    width: 100%;
}