<div class="container">
  <div class="row">
    <div class="jumbotron">
      <div class="container">
        <h3 class="text">
          <strong>¿Está tan ocupado que no puede llevar su vehículo a la ITV? ¿No tiene tiempo para llevar su coche a pasar la revisión?</strong>
        </h3>
        <div>
          <img src="../../assets/itv.jpg" class="col-md-6">
          <p class="text">
            No se preocupe más, porque Neumaticos Diego pone a su disposición el servicio "pasar la ITV por mí".
            <br> La mayor ventaja que tiene usted al contratar este servicio es que no tendrá que gastar su valioso tiempo para
            dejar el trabajo o sus ocupaciones para ir a la Inspección Técnica de Vehículos. Nosotros le hacemos la revisión
            pre-ITV y lo dejamos a punto para, después, llevarlo a la ITV más cercana y obtener su certificado nuevamente.
            Sin duda, usted también se beneficiará de este servicio porque no tendrá que preocuparse de nada en absoluto.
            Sólo tiene que traernos el coche a nuestro taller y le avisaremos cuándo puede pasarse a recogerlo con todas
            las gestiones realizadas por nosotros.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>