<app-nav></app-nav>

<router-outlet></router-outlet>

<div class="jumbotron">
  <div class="container">

    <!-- mapa -->
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [zoomControl]="true" [mapTypeId]="tipoMapa" [fullscreenControl]="true"
      [mapDraggable]="false">
      <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"></agm-marker>
    </agm-map>
  </div>
</div>


<!-- <a class="nonblock nontext MenuItem MenuItemWithSubMenu museBGSize colelem" id="u3171" href="https://www.facebook.com/Neum%C3%A1ticos-Diego-450775451748089/"> asd</a> -->


<!-- <img src="../assets/fb-on.png> -->
<!-- <div>
<img class="card-img-top" src="../assets/fb.png" alt="Card image cap">
</div>
   -->

<a href="https://www.facebook.com/Neum%C3%A1ticos-Diego-450775451748089/">
  <div id="u3171">

  </div>
</a>
<!-- <a id="u3171" href="https://www.facebook.com/Neum%C3%A1ticos-Diego-450775451748089/"> -->

<!-- asdasdasd -->
<!-- </a> -->
<!-- <a href="https://www.facebook.com/Neum%C3%A1ticos-Diego-450775451748089/"></a>
</div> -->

<app-footer></app-footer>