 agm-map {
     height: 600px;
 }

 button agm-map {
     height: 100px;
 }

 #u3171 {
     width: 150px;
     height: 150px;
 }

 #u3171 {
     border-style: none;
     border-color: transparent;
     position: relative;
     background: transparent url("../assets/fb.png") no-repeat left top;
     background-size: contain !important;
 }

 #u3171:hover {
     background: transparent url("../assets/fb-on.png") no-repeat left top;
     background-size: contain !important;
 }

 label.btn.btn-secondary:hover {
     background-color: rgba(114, 110, 110, 0.54);
 }

 label.btn.btn-secondary.active {
     font-weight: bold;
 }

 .botonesMap {
     margin-top: 5px;
     margin-left: 5px;
     position: absolute;
     z-index: 1;
     background-color: white;
 }

 .jumbotron {
     background-color: transparent;
 }

 button.mapa {
     left: 125px;
     top: 660px;
     height: 100px;
     width: 100px;
     position: absolute;
     z-index: 1;
     background: transparent;
     box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
     bottom: 0;
 }